@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');

body {
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
}
#header{
display: grid;
grid-template-columns: 2fr 5fr;
background: black;
color: white;
}
#placeholder{
  height: 150 px;
  width: 150 px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
#name{
  letter-spacing: 3.0mm;
  margin-top:5px
}
#title{
  letter-spacing: 1.5mm;
  margin-top: 30px;
}
#underline{
  width: 480px;
  height: 10px;
  background: white;
  margin-top: 10px
}
#profile{
  background: #CDCDCF;
  padding: 10px
}
#wrapper{
  padding: 0px;
  margin-top: 50px;
}
#left-mrgm{
  margin-left: 40px;
  font-weight: bold;
}
#year{
  margin-left: 105px;
}
#prog{
  height: 15px;
  width: 100px;
}
#hrexp{
    width: 20%;
}
#exp{
  margin-top: 5%;
}
.bg-lightblue{
    background-color: rgb(43, 62, 134);
}
.bg-blue{
  background-color: rgb(51, 53, 58);
}
  