@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');

body {
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #505962;
}
#row1{
  background-color: rgb(199, 199, 199);
}
#rowcontact{
  margin-top: 10%;
}
#contact{
  width: 100%;
  height: 100%;

}
#hrcont{
  background-color: rgb(155, 155, 155);
  width: 30%;
  height: 3px;
}
#skills{
  width:100%;
  height: 100%
}
/* #contactext{
  width: 80%;
  margin-left:70px
}
#context{
  margin-left:70px
} */
.bg-blue{
    background-color: rgb(51, 53, 58);
}
#repcontainer{
  margin-top: 80px;
}
#left-mrgm{
  margin-left: 30px;
  font-weight: bold;
}
#dificultades{
  margin-left: 47px;
}
.bg-lightblue{
    background-color: rgb(43, 62, 134);
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  